NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

GEMINI_API_KEY=
GROQ_API_KEY=
HUGGINGFACE_API_KEY=
OPENROUTER_API_KEY=
TOGETHER_API_KEY=

GEMINI_MODEL=gemini-1.5-flash
GROQ_MODEL=llama-3.1-8b-instant
HUGGINGFACE_MODEL=google/flan-t5-large
OPENROUTER_MODEL=meta-llama/llama-3.2-3b-instruct:free
TOGETHER_MODEL=meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo

AI_PRIMARY_PROVIDER=groq
APP_URL=http://localhost:3000
